# Ignore node_modules directory
node_modules/

# Ignore Ruby gems
vendor/

# Ignore log files and temp files
*.log
*.tmp
*.temp
*.swp

# Ignore Jekyll-specific files
_site/
.sass-cache/
.jekyll-metadata

# Ignore system files
.DS_Store
Thumbs.db

# Ignore configuration and dependency files
Gemfile
Gemfile.lock
yarn.lock
package-lock.json
